.Login {
  border: 1px solid #BBB;
  border-radius: 10px;
  padding: 1em;
  margin: 5% auto;
  width: 50%;

  .loginError {
    color: #C00;
    font-weight: bold;
  }
}

@media(max-width: 665px) {
  .Login {
    width: 85%;

    h1 {
      text-align: center;
    }

    .formDiv {
      width: 90%;

      input {
        width: 95%;
      }
    }
  }
}